<%- include('template/header', {tituloweb: "Pagina de Inicio" }); %>
    <%- include('template/aside'); %>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>INICIO</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-primary">
                            <%= titulo%>
                        </h1>
                    </div>
                    <div class="card-body">
                        <h2>Pagina de inicio con EJS</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta ipsam nam delectus
                            eum iure
                            distinctio voluptas magni sint, voluptatibus exercitationem laudantium fugiat? Temporibus
                            ab, quo quae dolor
                            deserunt quaerat.</p>
                    </div>
                </div>
            </section>
        </div>
        
        <%- include('template/footer'); %>