<%- include('template/header', {tituloweb: "Pagina de Inicio"}); %>
<body>
    <h1 class="text-primary"><%= titulo%></h1>
    <h2>Pagina de inicio con EJS</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta ipsam nam delectus eum iure distinctio voluptas magni sint, voluptatibus exercitationem laudantium fugiat? Temporibus ab, quo quae dolor deserunt quaerat.</p>
</body>
</html>